* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;

}

:root {
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-varient: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;

    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    --container-width-us: 98%;


    --transition: all 400ms ease;


}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-black);
    background: url(bg02.png);
    background-size: cover;


    opacity: 0;
    transition: opacity 1.2s ease;
    /* background-repeat: no-repeat; */

}
.loaded {
    opacity: 1;
}
.container {
    width: var(--container-width-sm);
    margin: -3rem auto;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;

}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;

}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2.4rem;
}

p {
    font-size: 1.6rem;
    font-weight: 600;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

p {
    font-family: 'Abyssinica SIL', serif;
}


/* bird and line code */



.bird_line {
    margin-top: 4rem;
}

.bird {
    display: flex;
    justify-content: center;
}

.bird img{

    height: 160px;
    width: 160px;
}

.line {
    display: flex;
    justify-content: center;
    margin-top: -6rem;
}

.l {
    height: 160px;
    width: 160px;
}



/* ------------------hbd code---------------- */

.box .hbd {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */

}

.wish {
    margin-top: -3rem;

}

.p {
    margin-top: -1rem;

}

.wish p {

    padding: 2rem 2rem;
    justify-content: center;
    text-align: center;
}


/* -------gift section----------- */
.gift {
    display: flex;
    justify-content: center;
     
}

.gift img {
    height: 200px;
    width: 200px;
}
.g
{
    /* border: 1px solid red; */
    margin-top: -3rem;
}

/* *--------------button----------------* */
a {
    color: var(--color-black);
}

.button {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
 
    /* border: 2px solid red; */
}

.button .b {
    /* border: solid green; */
    height: 52px;
    width: 188px;

    border-radius: 40px;
    display: flex;
    justify-content: center;
align-items: center;
    background: rgb(250, 162, 220);
    background: linear-gradient(180deg, rgba(250, 162, 220, 1),
            rgba(250, 162, 220, 0));

    }

    .button .b a h4{
        font-weight: 600;
    }
    .button .b a {

        justify-content: center;
        align-items: center;

    }
    footer p
    {
        font-size: 1rem;
    }
    footer
    {
        font-size: 0.4rem;
        padding-top: 1rem;
        padding-bottom: 3rem;
        height: 3rem;
        text-align: center;
    }
    @media screen and (max-width:345px)
    {
        .container {
            width: var(--container-width-us);
        }

        .bird {
            display: flex;
            justify-content: center;
        }
        
        .bird img {
        
            height: 140px;
            width: 140px;
        }
        
      
        
        .l {
            height: 140px;
            width: 140px;
            margin-top: 1rem;
        }
.wish
{
    margin-top: -41px;
}
.wish .p
{
    padding-top: 2rem;
}
        h2 {
    font-size: 2rem;
}

    }
    @media screen and (max-width:300px)
    {
        h2 {
            font-size: 1.8rem;
        }
        .bird img {
        
            height: 120px;
            width: 120px;
        }
        
      
        
        .l {
            height: 120px;
            width: 120px;
        }
    }